@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,900);

body{
	background: #eaeaea;
	font:  14px/1.33 'Roboto', sans-serif;
	color: #303030;

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in, opacity .2s ease-in;
	-moz-transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in, opacity .2s ease-in;
	transition: color .2s ease-in, border-color .2s ease-in, background-color .2s ease-in, opacity .2s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
	margin: 0 auto;
}

.ba-logo{
	font: 900 33px 'Roboto', sans-serif;
	text-decoration: none;
	color: #303030;
	padding: 0 0 0 12px;
}
.ba-logo:hover{
	color: #e10011;
	transition: all 0.1s ease-in;
}
.ba-menu{
	list-style: none;
	padding: 40px 0 0 0 ;
	font: 400 18px/1.5 'Roboto', sans-serif;
}
.ba-menu li{
	display: inline-block;
}
.ba-menu a{
	text-decoration: none;
	color:  #303030;
	padding-left: 40px;
	vertical-align: bottom;
}
.ba-menu a:hover{
	color: #e10011;
}



.ba-bw{
	max-width: 1198px;
	margin: 48px 0 255px 0;
	padding-right: 110px;
}
.ba-bw__text{
	font-weight: 300;
	font-size: 24px;
	line-height: 1.5;
    text-align: right;
	max-width: 600px;
}
.ba-bw__text h1{
	font: 900 150px/1 'Raleway', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
.ba-bw__text a{
	text-decoration: none;
	color:  #e10011;
	font-weight: 700;
}
.ba-bw__text a:hover{
	color: black;
}
.ba-bw__img{
	background: radial-gradient( closest-side at 150px 150px  , #fff, transparent);
}
.ba-featured{
	background: #FFF;
	padding: 0 60px 70px;
	max-width: 1198px;
}
.ba-featured__text{
	font-family: 'Raleway';
	max-width: 585px;
	margin: 0 auto;
}
.ba-featured__text h3{
	font-size: 48px;
	line-height: 100px;
	font-weight: 900;
	margin-bottom: 0;
	background: url(../img/underline.png) 50% 100% no-repeat;
}
.ba-featured__text p{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 70px;
}

.ba-featured__img{
	position: relative;
	overflow: hidden;
}
.ba-featured__img img{
	border-radius: 10px;
	width: 100%;
}
.ba-featured__img_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #e10011;
	border-radius: 10px;
	opacity: 0.92;
	transition: all 0.3s ease-in-out;
	transform: translateX(-101%);
}
.ba-featured__img:hover .ba-featured__img_mask{
	transform: translateX(0);
}
.ba-featured__img h4{
	position: absolute;
	font: 900 30px 'Roboto', sans-serif;
	text-align: left;
	color: #fff;
	margin: 0;
	left: 40px;
	padding: 0 20px 20px 0;
	bottom: 42px;
}
.ba-featured__img h4:after{
	position: absolute;
	content: "";
	width: 90px;
	height: 5px;
	left: 0;
	bottom: 0;
	background-color: #fff;
}




.ba-productman-news{
	font-family: 'Raleway';
	padding: 70px 0 20px;
	max-width: 585px;
	margin: 0 auto;
}
.ba-productman-news h3{
	margin: 0;
	font-size: 48px;
	line-height: 100px;
	font-weight: 900;
}
.ba-productman-news p{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.ba-productman-news__subscribe{
	margin: 40px 0 110px 0;
	white-space: nowrap;
}
.ba-productman-news__textfield{
	min-height: 68px;
	border: none;
	border-radius: 35px 0 0  35px;
	font: 600 18px/1.33 'Raleway', sans-serif;
	color:  #979797;
	font-style: italic;
	display: inline-block;
	vertical-align: middle;
}
.ba-productman-news__button{
	min-height: 68px;
	padding: 0 45px;
	border: none;
	border-radius: 0 35px 35px 0;
	background-color: #e10011;
	font: 900 18px 'Roboto', sans-serif;
	color:  #ffffff;
	display: inline-block;
	vertical-align: middle;
}
.ba-productman-news__textfield[placeholder] {
	padding-left: 60px;
	background: #FFF url(../img/post.png) no-repeat 5% 50%;
}
.ba-productman-news__textfield[placeholder]:hover{
	cursor: text;
}
.ba-productman-news__textfield[placeholder]:focus{
	outline: none;
	color: #e10011;
}
.ba-productman-news__button:hover{
	outline: none;
	transition: all 0.2s ease-in;
	color: #303030;
}


.ba-social-networks{
	margin-bottom: 65px;
	width: 100%;
}
[class*="ba-social-networks__link"]{
	display: inline-block;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-right: 15px;
}
.ba-social-networks a:hover{
	transition: all 0.3s linear;
	transform: rotate(360deg);
}

[class$="facebook"]{
	background: #FFF url(../img/fb.png) no-repeat 50% 50%;
}
[class$="twitter"]{
	background: #FFF url(../img/tw.png) no-repeat 50% 50%;
}
[class$="youtube"]{
	background: #FFF url(../img/yt.png) no-repeat 50% 50%;
}

.ba-footer{
	font: 400 18px/1.33 'Raleway', sans-serif;
	color:  #979797;
}
.ba-footer a{
	color: #303030;
	text-decoration: none;
}
.ba-footer a:hover {
	color:  #e10011;
}

@media (max-width: 1200px) {
	.ba-bw {
		text-align: center;
		margin: 30px 0 150px 0;
			padding: 0;
	}
	.ba-bw__img {
		float: none;
		display: inline-block;
	}
	.ba-bw__text {
		float: none;
		display: inline-block;
		text-align: center;
		max-width: 90%;
		margin-bottom: 40px;
	}
	.ba-bw__text h1{
		float: none;
		text-overflow: clip;
		font-size: 70px;
	}
}
@media (max-width: 960px) {
	.ba-intro {
		text-align: center;
	}
	.ba-header {
		display: inline-block;
	}
	.ba-bw {
		text-align: center;

		margin-bottom: 100px;
	}
	.ba-logo {
		font-size: 25px;
	}
	.ba-menu {
		display: none;
	}
	.ba-bw__text {
		text-overflow: clip;
	}

}
@media (max-width: 768px) {
	.ba-bw {
		margin-bottom:30px;
	}
	.ba-logo {
		font-size: 20px;
	}
	.ba-bw__text h1{
		font-size: 50px;
	}
	.ba-featured__text h3 {
		font-size: 30px;
	}
	.ba-featured {
		margin: 0;
	}
	.ba-productman-news {
		margin: 0 auto;
		padding: 0;
	}
	.ba-productman-news h3{
		font-size: 30px;
	}
	.ba-productman-news__textfield{
		min-height: 55px;
		width: 90%;
		border-radius: 25px;
		display: block;
		margin: 0 auto;
	}
	.ba-productman-news__button{
		min-height: 55px;
		max-width: 200px;
		padding: 0 20px;
		border-radius: 25px;
		display: block;
		margin: 15px auto;
	}
	.ba-featured__img_mask {
		display: none;
	}
	.ba-featured__img:active img{
		border: 2px solid #e10011;
		transition: all .1s ease-in-out;
	}
}
@media (max-width: 480px) {
	.ba-logo {
		font-size: 10px;
	}
	.ba-bw {
		margin-bottom:10px;
	}
	.ba-bw__text {
		margin: -30px 0 10px 0;
		padding: 0;
	}
	.ba-bw__text h1{
		font-size: 20px;
	}
	.ba-bw__text p{
		font-size: 16px;
		text-align: justify;
	}
	.ba-bw__text a {
		font-size: 16px;
	}
	.ba-bw__img img {
		display: none;
	}
	.ba-bw__img {
		width: 150px;
		height: 202px;
		background: url("../img/image1-mobile.png") 50% no-repeat;
	}
	.ba-featured{
		padding: 0 20px 35px;
	}
	.ba-featured__text p{
		margin-bottom: 35px;
	}
	.ba-featured__text h3 {
		font-size: 20px;
	}

	.ba-productman-news h3{
		font-size: 20px;
	}
	.ba-productman-news__subscribe {
		margin: 0;
		padding: 20px 0;
	}
	.ba-productman-news__textfield{
		min-height: 40px;
	}
	.ba-productman-news__button{
		min-height: 40px;
	}
	.ba-social-networks {
		margin: 0;
		padding: 0 0 10px 0;
	}
	p{
		font-size: 14px;
		text-align: justify;
	}
	[class*="ba-social-networks__link"]{
		height: 50px;
		width: 50px;
	}
}

